body{
    margin: 0;
}


/*----------main content div----------*/
.mainContent{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 10%;
}

/*----------equpment sections----------*/

.equipmentRow {
  display: table;
  box-sizing: inherit;
}

.equipmentColumn {
  
  float: left;
  display: table-cell;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 800px) {
  .equipmentColumn {
    width: 100%;
    display: block;
  }
}

.equipmentCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.equipmentContainer {
  padding: 0 16px;
}

.equipmentContainer::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.equipmentTitle {
  color: grey;
}

.equipmentButton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.equipmentButton:hover {
  background-color: #555;
}


/*-----------------------table showing members--------------------------*/



.profileTable{
    width: 100%;
    font-family: 'lato', sans-serif;
  }

.table_header {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  border-left: 0px;
  border-right: 0px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  background-color: transparent;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}


.table_row{
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  background-color: #ffffff;
}


/*-----------------------------------invoice open --------------------------------------*/


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/*------------------------------------------------------------------Room Management------------------------------------------------------------------------------------------------------*/
#roomSelector{
  height: 50px;
  padding-left: 40%;
  background-color: #F5F5F5;
  border: solid 3px #e7e7e7;
  border-radius: 12px;
  margin-bottom: 2%;
}

/* Pagination links */
.pagination a {
  color: black;
  float: left;
  margin-top: 8px;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  border-radius: 7px;
  background-color: orange;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;border-radius: 7px; cursor: pointer;}

/* Create three equal columns that floats next to each other */
.columnRooms {
  float: left;
  width: 67.35%;
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.rowRooms{
  width: 100%;
  border: solid 3px #F5F5F5;
  border-radius: 12px;
}

.rowRooms:after {
  content: "";
  display: table;
  clear: both;
}

.roomInfo{
  color: #838890;
  text-align: left;
  margin-top: 0px;
}

@media screen and (max-width: 1400px) {
  .columnRooms {
    width: 66.3%;

  }
}


.groupFit {
  vertical-align: middle;
  width: 10%;
  height: 10%;
  margin: 3%;
  border-radius: 50%;
}

.groupFit:hover {
  background-color: white;
  transform: scale(1.1);
  cursor: pointer;
}












.bookRoomBtn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
}

.bookRoomBtn:hover {background-color: #3e8e41}

.bookRoomBtn:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}