body{
  margin: 0;
  background-image: url('https://png.pngtree.com/background/20230519/original/pngtree-an-old-gym-setting-with-dumbbells-picture-image_2667256.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=text]:focus {
    border: 3px solid #555;
  }

  select {
    width: 100%;
    padding: 16px 20px;
    padding-right: 40px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }

/*-----------------------------------------------------------------------------------------------*/

  /*mainContent*/
  .mainContent{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 1%;
    margin-bottom: 10%;
    padding: 20px;
    padding-left: 250px;
  }

  .profileHolder{
    border-radius: 12px;
    margin: 15%;
    margin-top: 0;
    padding: 100px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
  }
/*----------------------------------dashboard -------------------------------------------------------------*/

  /*dashboard*/
  .dashboardContainer{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1%;

  }

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  border-radius: 12px;
  float: left;
  width: 70%;
}

/* Right column */
.rightcolumn {
  border-radius: 12px;
  float: left;
  width: 25%;
  padding-left: 20px;
}


/* Add a card effect for articles */
.card {
  border-radius: 12px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.8);
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.Dash-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.fitnessAchievement{
  border-radius: 50%;

}

.fitnessAchievement:hover{
  background-color: #e2e2e2;
  transform: scale(1.1);
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


#statsTable{
  background-color: white;
  border-radius: 12px;
}

#statsTable tr{
  background-color: white;
  border-radius: 12px;
}

#achievementsTable{
  background-color: white;
  border-radius: 12px;
}

#achievementsTable tr{
  background-color: white;
  border-radius: 12px;
}


/* Float four columns side by side */
.columnStats {
  float: left;
  width: 100%;
  padding: 0 5px;
  margin-bottom: 2%;
  
  
}

.rowStats {margin: 0 -5px;}

/* Clear floats after the columns */
.rowStats:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .columnStats {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.cardStats {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
  border-radius: 10px;
  margin-right: 8px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.6);
}

.cardStats:hover{
  color: orange;
  cursor: pointer;
}

.fa {font-size:50px;}



/*-----------------------------------------------------------------------------------------------*/

  /*schedule*/
  .scheduleContainer{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 7%;

  }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

#scheduleSlot:hover{
  background-color: orange;
  transform: scale(1.1);
  cursor: pointer;
}



.trainerAvatar{
  padding: 12px;

}

.trainerAvatar:hover{
  opacity: 0.5;
  transform: scale(1.1);
  cursor: pointer;
}


/*----------------------------right div section------------------------*/

.profileTable{
  width: 100%;
    height: 82vh;
    background: rgba(black, 0.5);;
    text-align: center;
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    color: white;
    overflow: hidden;
}

.table_header {
  border-radius: 12px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  color: white;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}


.row{
  border-radius: 12px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.8);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  transition: transform .2s;
}

.row:hover{
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  cursor: pointer;
  color: orange;
}


/*-----------------------------------------modal---------------------*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  border-radius: 10px;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.addBtn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
}

.addBtn:hover {background-color: #3e8e41}

.addBtn:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.cancelbookingBtn {
  display: inline-block;
  padding: 7px 12px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #cc1f01;
  border: none;
  border-radius: 15px;
}

.cancelbookingBtn:hover {
  background-color: #a7a5a5;
  color: red;
}

.cancelbookingBtn:active {
  background-color: #cc1f01;
  transform: translateY(4px);
}


/*-----------inner modal--------*/

.innerModalContent{
  border-radius: 12px;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  margin-top: 2%;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

.closeInner {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeInner:hover,
.closeInner:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 10%;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


.bg {
  border-radius: 12px;
  background-color: #f8f6f6;
  width: 480px;
  overflow: hidden;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px;
  font-family: 'Roboto';
  margin-top: 40px;
  
}

.cardPay {
  
  background-color: white;
  width: 100%;
  float: left;
  margin-top: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 80px 30px 25px 30px;
  text-align: center;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
}
  
.cardPay__success {
  
  position: absolute;
  top: -50px;
  left: 145px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #60c878;
  border: 5px solid white;
  
  i {
    
    color: white;
    line-height: 100px;
    font-size: 45px;
    
  }
  
}

.cardPay__msg {
  
  text-transform: uppercase;
  color: #55585b;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  
}

.cardPay__submsg {
  
  color: #959a9e;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  
}

.cardPay__body {
  
  background-color: #f8f6f6;
  border-radius: 12px;
  width: 100%;
  margin-top: 30px;
  float: left;
  box-sizing: border-box;
  padding: 30px;
  
}

.cardPay__avatar {
  
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 7px;
  
}

.cardPay__recipient-info {
  
  display: inline-block;
  
}

.cardPay__recipient {
  
  color: #232528;
  text-align: left;
  margin-bottom: 5px;
  font-weight: 600;
  
}

.cardPay__info {
  
  color: #838890;
  text-align: left;
  margin-top: 0px;
  
}

.cardPay__price {
  
  color: #232528;
  font-size: 70px;
  margin-top: 25px;
  margin-bottom: 30px;
  
  span {
    
    font-size: 60%;
    
  }
  
}

.cardPay__method {
  
  color: #d3cece;
  text-transform: uppercase;
  text-align: left;
  font-size: 11px;
  margin-bottom: 5px;
  
}

.cardPay__payment {
  
  background-color: white;
  border-radius: 4px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.cardPay__credit-card {
  
  width: 50px;
  display: inline-block;
  margin-right: 15px;
  
}

.cardPay__card-details {
  
  display: inline-block;
  text-align: left;
  
}

.cardPay__card-type {
  
  text-transform: uppercase;
  color: #232528;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 3px;
  
}

.cardPay__card-number {
  
  color: #838890;
  font-size: 12px;    
  margin-top: 0px;
  
}

.cardPay__tags {
  
  clear: both;
  padding-top: 15px;
  
}

.cardPay__tag {
  
  text-transform: uppercase;
  background-color: #f8f6f6;
  box-sizing: border-box;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 10px;
  color: #d3cece;
  
  
}
  
  

  
