body{
    margin: 0;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=text]:focus {
    border: 3px solid #555;
  }

  select {
    width: 100%;
    padding: 16px 20px;
    padding-right: 40px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }

#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  #navbar a:hover {
    color: orange;
    cursor: pointer;
  }

  #navbar a:active {
    color: white;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

/*-----------------------------------------------------------------------------------------------*/
  /*profile*/
  .profileContainer{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10%;
    padding-bottom: 10%;

  }


/*-----------------------------------------------------------------------------------------------*/

  /*dashboard*/
  .dashboardContainer{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;

  }

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 70%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.Dash-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}


/*-----------------------------------------------------------------------------------------------*/

  /*schedule*/
  .scheduleContainer{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;

  }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

#scheduleSlot:hover{
  background-color: orange;
  transform: scale(1.1);
  cursor: pointer;
}


tr:nth-child(even){background-color: #f2f2f2}



.trainerAvatar{
  padding: 12px;

}

.trainerAvatar:hover{
  opacity: 0.5;
  transform: scale(1.1);
  cursor: pointer;
}


/*----------------------------right div section------------------------*/

.profileTable{
  width: 100%;
  font-family: 'lato', sans-serif;
}

.table_header {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}


.row{
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  transition: transform .2s;
}

.row:hover{
  background-color: #c0c0c0;
  transform: scale(1.1);
  cursor: pointer;
}


/*-----------------------------------------modal---------------------*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.addBtn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
}

.addBtn:hover {background-color: #3e8e41}

.addBtn:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.cancelbookingBtn {
  display: inline-block;
  padding: 7px 12px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #cc1f01;
  border: none;
  border-radius: 15px;
}

.cancelbookingBtn:hover {
  background-color: #a7a5a5;
  color: red;
}

.cancelbookingBtn:active {
  background-color: #cc1f01;
  transform: translateY(4px);
}


/*-----------inner modal--------*/

.innerModalContent{
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

.closeInner {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeInner:hover,
.closeInner:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}