body{
    margin: 0;
}


  /*-----------------------------------------------------------------------------------------------------------*/

  /*mainContent*/
  .mainContent{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 10%;
  }

  #searchBar{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;

  }

  .profileTable{
    width: 100%;
    font-family: 'lato', sans-serif;
  }

  .table_header {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }


  .row{
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    transition: transform .2s;
  }

  .row:hover{
    background-color: #c0c0c0;
    transform: scale(1.1);
    cursor: pointer;
  }

  /*---------------------------------------------------------Schedule Management--------------------------------------------------------------------------*/

  #schedule {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  #scheduleTime, #scheduleDay {
    background-color: rgb(161, 161, 161);
    padding: 16px;
    
  }

  #scheduleSlot{
    background-color: rgb(219, 219, 219);
    

  }

  #scheduleSlot:hover{
    background-color: orange;
    transform: scale(1.1);
    cursor: pointer;
  }



  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  .groupFit {
    vertical-align: middle;
    width: 10%;
    height: 10%;
    margin: 3%;
    border-radius: 50%;
  }

  .groupFit:hover {
    background-color: white;
    transform: scale(1.1);
  }

  .addBtn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
  }
  
  .addBtn:hover {background-color: #3e8e41}
  
  .addBtn:active {
    background-color: #3e8e41;
    transform: translateY(4px);
  }

  .notAvailable {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #cc1f01;
    border: none;
    border-radius: 15px;
  }
  
  .notAvailable:hover {background-color: #a7a5a5}
  
  .notAvailable:active {
    background-color: #cc1f01;
    transform: translateY(4px);
  }