<head>
    <title>Health & Fitness Club</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/admin.css">
    <link type="text/css" rel="stylesheet" href="css/navbar.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body onload="showClassSchedule()">

    <div id="mySidenav" class="sidenav">
  <a  class="closebtn" onclick="closeNav()">&times;</a>
        <a id="Booking">Room Booking</a>
        <a id="Equipment_Monitoring">Equipment Monitoring</a>
        <a id="Class_Schedule_Update" style="color: orange;">Class Schedule Update</a>
        <a id="Billing&Payment">Billing & Payment</a>
        <a id="logOut">Log Out</a>
        <p id="signature" style="margin-top: 230%;">The Health & Fitness Club</p>
    </div>
    
    <div id="mainContent" class="mainContent" >
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <center><h2 style="margin: 2%; font-size: xx-large;">Class Schedule Update</h2></center>

        <div class="rowRooms">
            
            <div class="columnRooms" style="width: 100%;">
              <h2>Select event: </h2>
              <img src="https://cdn-icons-png.flaticon.com/512/5022/5022167.png" id='boxing' class="groupFit" style="width: 100px; height: 100px;">
              <img src="https://cdn-icons-png.flaticon.com/512/8145/8145683.png" id='football' class="groupFit" style="width: 100px; height: 100px;">
              <img src="https://cdn-icons-png.flaticon.com/512/2264/2264829.png" id='swimming' class="groupFit" style="width: 100px; height: 100px;">
              <img src="https://cdn-icons-png.flaticon.com/512/983/983534.png" id='cycling' class="groupFit" style="width: 100px; height: 100px;">
              <img src="https://cdn-icons-png.flaticon.com/512/9571/9571346.png" id='strength' class="groupFit" style="width: 100px; height: 100px;">
              <img src="https://cdn-icons-png.flaticon.com/512/3476/3476091.png" id='crossfit' class="groupFit" style="width: 100px; height: 100px;">
              <img src="https://cdn-icons-png.flaticon.com/512/3867/3867817.png" id='running' class="groupFit" style="width: 100px; height: 100px;">
              <img src="https://cdn-icons-png.flaticon.com/512/10823/10823177.png" id='basketball' class="groupFit" style="width: 100px; height: 100px;">
              <img src="https://cdn-icons-png.flaticon.com/512/2906/2906496.png" id='yoga' class="groupFit" style="width: 100px; height: 100px;">

              <h2>Select Trainer: </h2>
              <img id="trainer1" name="BatmanAvatar" class="trainerAvatar" src="https://images.nightcafe.studio/jobs/48Amke79nr6OktAdkLqp/48Amke79nr6OktAdkLqp--1--gvi7p_2x.jpg?tr=w-1600,c-at_max" alt="Avatar">
              <img id="trainer2" name="SupermanAvatar" class="trainerAvatar" src="https://storage.prompt-hunt.workers.dev/clfw24af3001qjt08bv6b0knp_1" alt="Avatar">
              <img id="trainer3" name="Wonder-WomanAvatar" class="trainerAvatar" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ddbdd022-5484-490d-8d18-f975ab5ac08f/dfxk3ad-a988b17d-1af0-4398-968f-7f3200c64805.png/v1/fill/w_894,h_894,q_70,strp/wonder_woman_ai_generated_art__by_makethemcomealiveai_dfxk3ad-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjA0OCIsInBhdGgiOiJcL2ZcL2RkYmRkMDIyLTU0ODQtNDkwZC04ZDE4LWY5NzVhYjVhYzA4ZlwvZGZ4azNhZC1hOTg4YjE3ZC0xYWYwLTQzOTgtOTY4Zi03ZjMyMDBjNjQ4MDUucG5nIiwid2lkdGgiOiI8PTIwNDgifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.l1nSGHYM2igEcazgZypM37huaEuDa-N2ZFXcRSs4oyk" alt="Avatar">
              <img id="trainer4" name="BatgirlAvatar" class="trainerAvatar" src="https://images.squarespace-cdn.com/content/v1/63e0312e3c5a7e2053ea2a99/1682955644979-ZNKGLHGRECOG7J79AP8P/Matt_Shadbolt_Batgirl_very_close-up_cinematic_35mm_lens_f1.8_ac_37308870-2067-4287-9c53-4a53afdd3e73.png" alt="Avatar">
              <img id="trainer5" name="ArrowAvatar" class="trainerAvatar" src="https://i.kym-cdn.com/entries/icons/original/000/016/265/grenarrow.png" alt="Avatar">

              <h2 id="scheduleTitle"></h2>
              <h2 id="warning"></h2>
              <table id="schedule" style="display: none;">
                <tr>
                  <th id="scheduleDay"></th>
                  <th id="scheduleDay">Monday</th>
                  <th id="scheduleDay">Tuesday</th>
                  <th id="scheduleDay">Wednesday</th>
                  <th id="scheduleDay">Thursday</th>
                  <th id="scheduleDay">Friday</th>
                  <th id="scheduleDay">Saturday</th>
                  <th id="scheduleDay">Sunday</th>
                </tr>
                <tr>
                  <td id="scheduleTime">9am</td>
                  <td id="scheduleSlot" class="Mon-9"></td>
                  <td id="scheduleSlot" class="Tue-9"></td>
                  <td id="scheduleSlot" class="Wed-9"></td>
                  <td id="scheduleSlot" class="Thu-9"></td>
                  <td id="scheduleSlot" class="Fri-9"></td>
                  <td id="scheduleSlot" class="Sat-9"></td>
                  <td id="scheduleSlot" class="Sun-9"></td>
                </tr>
                <tr>
                  <td id="scheduleTime">10am</td>
                  <td id="scheduleSlot" class="Mon-10"></td>
                  <td id="scheduleSlot" class="Tue-10"></td>
                  <td id="scheduleSlot" class="Wed-10"></td>
                  <td id="scheduleSlot" class="Thu-10"></td>
                  <td id="scheduleSlot" class="Fri-10"></td>
                  <td id="scheduleSlot" class="Sat-10"></td>
                  <td id="scheduleSlot" class="Sun-10"></td>
                </tr>
                <tr>
                  <td id="scheduleTime">11am</td>
                  <td id="scheduleSlot" class="Mon-11"></td>
                  <td id="scheduleSlot" class="Tue-11"></td>
                  <td id="scheduleSlot" class="Wed-11"></td>
                  <td id="scheduleSlot" class="Thu-11"></td>
                  <td id="scheduleSlot" class="Fri-11"></td>
                  <td id="scheduleSlot" class="Sat-11"></td>
                  <td id="scheduleSlot" class="Sun-11"></td>
                </tr>
                <tr>
                  <td id="scheduleTime">12pm</td>
                  <td id="scheduleSlot" class="Mon-12"></td>
                  <td id="scheduleSlot" class="Tue-12"></td>
                  <td id="scheduleSlot" class="Wed-12"></td>
                  <td id="scheduleSlot" class="Thu-12"></td>
                  <td id="scheduleSlot" class="Fri-12"></td>
                  <td id="scheduleSlot" class="Sat-12"></td>
                  <td id="scheduleSlot" class="Sun-12"></td>
                </tr>
                <tr>
                  <td id="scheduleTime">1pm</td>
                  <td id="scheduleSlot" class="Mon-1"></td>
                  <td id="scheduleSlot" class="Tue-1"></td>
                  <td id="scheduleSlot" class="Wed-1"></td>
                  <td id="scheduleSlot" class="Thu-1"></td>
                  <td id="scheduleSlot" class="Fri-1"></td>
                  <td id="scheduleSlot" class="Sat-1"></td>
                  <td id="scheduleSlot" class="Sun-1"></td>
                </tr>
                <tr>
                  <td id="scheduleTime">2pm</td>
                  <td id="scheduleSlot" class="Mon-2"></td>
                  <td id="scheduleSlot" class="Tue-2"></td>
                  <td id="scheduleSlot" class="Wed-2"></td>
                  <td id="scheduleSlot" class="Thu-2"></td>
                  <td id="scheduleSlot" class="Fri-2"></td>
                  <td id="scheduleSlot" class="Sat-2"></td>
                  <td id="scheduleSlot" class="Sun-2"></td>
                </tr>
                <tr>
                  <td id="scheduleTime">3pm</td>
                  <td id="scheduleSlot" class="Mon-3"></td>
                  <td id="scheduleSlot" class="Tue-3"></td>
                  <td id="scheduleSlot" class="Wed-3"></td>
                  <td id="scheduleSlot" class="Thu-3"></td>
                  <td id="scheduleSlot" class="Fri-3"></td>
                  <td id="scheduleSlot" class="Sat-3"></td>
                  <td id="scheduleSlot" class="Sun-3"></td>
                </tr>
                <tr>
                  <td id="scheduleTime">4pm</td>
                  <td id="scheduleSlot" class="Mon-4"></td>
                  <td id="scheduleSlot" class="Tue-4"></td>
                  <td id="scheduleSlot" class="Wed-4"></td>
                  <td id="scheduleSlot" class="Thu-4"></td>
                  <td id="scheduleSlot" class="Fri-4"></td>
                  <td id="scheduleSlot" class="Sat-4"></td>
                  <td id="scheduleSlot" class="Sun-4"></td>
                </tr>
                <tr>
                  <td id="scheduleTime">5pm</td>
                  <td id="scheduleSlot" class="Mon-5"></td>
                  <td id="scheduleSlot" class="Tue-5"></td>
                  <td id="scheduleSlot" class="Wed-5"></td>
                  <td id="scheduleSlot" class="Thu-5"></td>
                  <td id="scheduleSlot" class="Fri-5"></td>
                  <td id="scheduleSlot" class="Sat-5"></td>
                  <td id="scheduleSlot" class="Sun-5"></td>
                </tr>
              </table>

              <center><button class="bookRoomBtn" id="updateClassScheduleBtn">Schedule Class</button></center>
            </div>
          </div>

    </div>
    

    <script type="text/javascript" src="js/admin.js"></script>
</body>