<head>
    <title>Health & Fitness Club</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/admin.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body onload="showClassSchedule()">

    <div id="navbar">
        <a id="Booking">Room Booking</a>
        <a id="Equipment_Monitoring">Equipment Monitoring</a>
        <a id="Class_Schedule_Update" style="color: orange;">Class Schedule Update</a>
        <a id="Billing&Payment">Billing & Payment</a>
    </div>

    <div class="mainContent">
        <center><h2 style="margin: 7%; font-size: xx-large;">Class Schedule Update</h2></center>

    </div>
    

    <script type="text/javascript" src="js/admin.js"></script>
</body>