<head>
    <title>Health & Fitness Club</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/admin.css">
    <link type="text/css" rel="stylesheet" href="css/navbar.css">
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Black+Ops+One" />
</head>

<body onload="showRoomBooking()">

    <div id="mySidenav" class="sidenav">
  <a  class="closebtn" onclick="closeNav()">&times;</a>
        <a id="Booking" style="color: orange;">Room Booking</a>
        <a id="Equipment_Monitoring">Equipment Monitoring</a>
        <a id="Class_Schedule_Update">Class Schedule Update</a>
        <a id="Billing&Payment">Billing & Payment</a>
        <a id="logOut">Log Out</a>
        <p id="signature" style="margin-top: 230%;">The Health & Fitness Club</p>
    </div>
    

    <div id="mainContent" class="mainContent" >
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <center><h2 style="margin: 2%; font-size: xx-large;">Room Management</h2></center>
        <div id="roomSelector">
            <div id="pagination" class="pagination">
                <a id="">&laquo;</a>
                <a class="active" id="room1">1</a>
                <a id="room2">2</a>
                <a id="room3">3</a>
                <a id="">&raquo;</a>
              </div>
        </div>
        <div class="rowRooms">
            <div class="columnRooms" style=" width: 30%;">
                <h2>Room Booking</h2>
                <img id="roomImg" src="https://www.wbdg.org/images/fitness_5.jpg" width="100%" style="border-radius: 6px;">
                <h3 id="roomName">Fully Fitted Gym Room</h3>
                <p id="roomCapacity" class="roomInfo">Capacity: <p id="roomCapacityValue">20</p></p>
                <p id="roomLayout" class="roomInfo">Layout: <p id="roomLayoutValue">240x240</p></p>
                <p id="roomEquipment" class="roomInfo">Equipment:</p>
                <ul id="equpmentList">
                    <li id="equpment1">Multi-Gym</li>
                    <li id="equpment2">Bench Press</li>
                    <li id="equpment3">Tricep Pushdown</li>
                    <li id="equpment4">Lat Pulldown</li>
                    <li id="equpment5">Cardio Bike</li>
                    <li id="equpment6">Leg Press</li>
                </ul>
            </div>
            <div id="columnRooms" class="columnRooms">
              <h2>Events/Classes in Need of a Room: </h2>
              <h2 id="warning" style="color: red;"></h2>
              
              <table class="profileTable">
                <tr class="table_header">
                  <th><img src="" id="eventImg"></th>  
                  <th>Event</th>
                  <th>Time</th>
                  <th>Trainer</th>
                </tr>
              </table>
              <br>

            </div>
        </div>

    </div>
    

    <script type="text/javascript" src="js/admin.js"></script>
</body>