<head>
    <title>Health & Fitness Club</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/admin.css">
    <link type="text/css" rel="stylesheet" href="css/navbar.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body onload="showBilling()">

    <div id="mySidenav" class="sidenav">
  <a  class="closebtn" onclick="closeNav()">&times;</a>
        <a id="Booking">Room Booking</a>
        <a id="Equipment_Monitoring">Equipment Monitoring</a>
        <a id="Class_Schedule_Update">Class Schedule Update</a>
        <a id="Billing&Payment" style="color: orange;">Billing & Payment</a>
    </div>
    

    <div id="mainContent" class="mainContent" >
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <center><h2 style="margin: 7%; font-size: xx-large;">Billing & Payment Proccessing</h2></center>

        

    </div>
    

    <script type="text/javascript" src="js/admin.js"></script>
</body>