<head>
    <title>Health & Fitness Club</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/member.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body onload="showDashboard()">

    <div id="navbar">
        <a id="profileNav" >Profile</a>
        <a id="dashboardNav" style="color: orange;">Dashboard</a>
        <a id="scheduleNav" >Schedule</a>
    </div>
        
        <div class="row">
            <div class="leftcolumn">
                <div class="card">
                <h1 id="sectionTitle">Dashboard</h1>
                <h3>Exercise Routines</h3>
                <div class="fakeimg" style="height:200px;"></div>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>
                <div class="card">
                <h3>Fitness Achievements</h3>
                <div class="fakeimg" style="height:200px;"></div>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>
            </div>
            <div class="rightcolumn">
                <div class="card">
                    <h3>Health Statistics</h3>
                    <div class="fakeimg" style="height:100px;"></div>
                    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                </div>
            </div>
        </div>



    <script type="text/javascript" src="js/member.js"></script>
</body>