<head>
    <title>Health & Fitness Club</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/member.css">
    <link type="text/css" rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Black+Ops+One" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.4/howler.js"
          integrity="sha512-7Zgn4mmO9yGGB1j9yP0mZvUPWBVg0fCcUMsYUV6FX7XIKQfb/dhGxsKh794YAzXH2F/+Z3eJL4mrTilrT2ZeFQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body onload="showSchedule()">

    <div id="mySidenav" class="sidenav">
        <a  class="closebtn" onclick="closeNav()">&times;</a>
        <a id="profileNav">Profile</a>
        <a id="dashboardNav" >Dashboard</a>
        <a id="scheduleNav" style="color: orange;">Schedule</a>
        <a id="logOut">Log Out</a>
        <p id="signature">The Health & Fitness Club</p>
    </div>
    

    <div class="mainContent" id="mainContent">
        <div id="left" style="width:50%; float:left;">
          <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
          <div id="trainersSelection" style="display: block;">
            <h1 id="titleT">What would you like to sign up for?</h1>
            <img id="trainer1" name="BatmanAvatar" class="trainerAvatar" src="https://images.nightcafe.studio/jobs/48Amke79nr6OktAdkLqp/48Amke79nr6OktAdkLqp--1--gvi7p_2x.jpg?tr=w-1600,c-at_max" alt="Avatar" style="width:200px;border-radius: 50%;">
            <img id="trainer2" name="SupermanAvatar" class="trainerAvatar" src="https://storage.prompt-hunt.workers.dev/clfw24af3001qjt08bv6b0knp_1" alt="Avatar" style="width:200px;border-radius: 50%;">
            <img id="trainer3" name="Wonder-WomanAvatar" class="trainerAvatar" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ddbdd022-5484-490d-8d18-f975ab5ac08f/dfxk3ad-a988b17d-1af0-4398-968f-7f3200c64805.png/v1/fill/w_894,h_894,q_70,strp/wonder_woman_ai_generated_art__by_makethemcomealiveai_dfxk3ad-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjA0OCIsInBhdGgiOiJcL2ZcL2RkYmRkMDIyLTU0ODQtNDkwZC04ZDE4LWY5NzVhYjVhYzA4ZlwvZGZ4azNhZC1hOTg4YjE3ZC0xYWYwLTQzOTgtOTY4Zi03ZjMyMDBjNjQ4MDUucG5nIiwid2lkdGgiOiI8PTIwNDgifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.l1nSGHYM2igEcazgZypM37huaEuDa-N2ZFXcRSs4oyk" alt="Avatar" style="width:200px;border-radius: 50%;">
            <img id="trainer4" name="BatgirlAvatar" class="trainerAvatar" src="https://images.squarespace-cdn.com/content/v1/63e0312e3c5a7e2053ea2a99/1682955644979-ZNKGLHGRECOG7J79AP8P/Matt_Shadbolt_Batgirl_very_close-up_cinematic_35mm_lens_f1.8_ac_37308870-2067-4287-9c53-4a53afdd3e73.png" alt="Avatar" style="width:200px;border-radius: 50%;">
            <img id="trainer5" name="ArrowAvatar" class="trainerAvatar" src="https://i.kym-cdn.com/entries/icons/original/000/016/265/grenarrow.png" alt="Avatar" style="width:200px;border-radius: 50%;">
          </div>
        </div>
        <div id="right" style="width:50%; float:right; display: block;" >
          <h1 id="title">Your Currently Scheduled Sessions:</h1>
          <table class="profileTable">
            <tr class="table_header">
              <th>First Name</th>
              <th>Last Name</th>
              <th>Date</th>
              <th>Cancel</th>
            </tr>
          </table>
        </div>

        <div id="myModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <h1 id="formTitle">Edit</h1>
            
            <table id="schedule">
              <tr>
                <th id="scheduleDay"></th>
                <th id="scheduleDay">Monday</th>
                <th id="scheduleDay">Tuesday</th>
                <th id="scheduleDay">Wednesday</th>
                <th id="scheduleDay">Thursday</th>
                <th id="scheduleDay">Friday</th>
                <th id="scheduleDay">Saturday</th>
                <th id="scheduleDay">Sunday</th>
              </tr>
              <tr>
                <td id="scheduleTime">9am</td>
                <td id="scheduleSlot" class="Mon-9"></td>
                <td id="scheduleSlot" class="Tue-9"></td>
                <td id="scheduleSlot" class="Wed-9"></td>
                <td id="scheduleSlot" class="Thu-9"></td>
                <td id="scheduleSlot" class="Fri-9"></td>
                <td id="scheduleSlot" class="Sat-9"></td>
                <td id="scheduleSlot" class="Sun-9"></td>
              </tr>
              <tr>
                <td id="scheduleTime">10am</td>
                <td id="scheduleSlot" class="Mon-10"></td>
                <td id="scheduleSlot" class="Tue-10"></td>
                <td id="scheduleSlot" class="Wed-10"></td>
                <td id="scheduleSlot" class="Thu-10"></td>
                <td id="scheduleSlot" class="Fri-10"></td>
                <td id="scheduleSlot" class="Sat-10"></td>
                <td id="scheduleSlot" class="Sun-10"></td>
              </tr>
              <tr>
                <td id="scheduleTime">11am</td>
                <td id="scheduleSlot" class="Mon-11"></td>
                <td id="scheduleSlot" class="Tue-11"></td>
                <td id="scheduleSlot" class="Wed-11"></td>
                <td id="scheduleSlot" class="Thu-11"></td>
                <td id="scheduleSlot" class="Fri-11"></td>
                <td id="scheduleSlot" class="Sat-11"></td>
                <td id="scheduleSlot" class="Sun-11"></td>
              </tr>
              <tr>
                <td id="scheduleTime">12pm</td>
                <td id="scheduleSlot" class="Mon-12"></td>
                <td id="scheduleSlot" class="Tue-12"></td>
                <td id="scheduleSlot" class="Wed-12"></td>
                <td id="scheduleSlot" class="Thu-12"></td>
                <td id="scheduleSlot" class="Fri-12"></td>
                <td id="scheduleSlot" class="Sat-12"></td>
                <td id="scheduleSlot" class="Sun-12"></td>
              </tr>
              <tr>
                <td id="scheduleTime">1pm</td>
                <td id="scheduleSlot" class="Mon-1"></td>
                <td id="scheduleSlot" class="Tue-1"></td>
                <td id="scheduleSlot" class="Wed-1"></td>
                <td id="scheduleSlot" class="Thu-1"></td>
                <td id="scheduleSlot" class="Fri-1"></td>
                <td id="scheduleSlot" class="Sat-1"></td>
                <td id="scheduleSlot" class="Sun-1"></td>
              </tr>
              <tr>
                <td id="scheduleTime">2pm</td>
                <td id="scheduleSlot" class="Mon-2"></td>
                <td id="scheduleSlot" class="Tue-2"></td>
                <td id="scheduleSlot" class="Wed-2"></td>
                <td id="scheduleSlot" class="Thu-2"></td>
                <td id="scheduleSlot" class="Fri-2"></td>
                <td id="scheduleSlot" class="Sat-2"></td>
                <td id="scheduleSlot" class="Sun-2"></td>
              </tr>
              <tr>
                <td id="scheduleTime">3pm</td>
                <td id="scheduleSlot" class="Mon-3"></td>
                <td id="scheduleSlot" class="Tue-3"></td>
                <td id="scheduleSlot" class="Wed-3"></td>
                <td id="scheduleSlot" class="Thu-3"></td>
                <td id="scheduleSlot" class="Fri-3"></td>
                <td id="scheduleSlot" class="Sat-3"></td>
                <td id="scheduleSlot" class="Sun-3"></td>
              </tr>
              <tr>
                <td id="scheduleTime">4pm</td>
                <td id="scheduleSlot" class="Mon-4"></td>
                <td id="scheduleSlot" class="Tue-4"></td>
                <td id="scheduleSlot" class="Wed-4"></td>
                <td id="scheduleSlot" class="Thu-4"></td>
                <td id="scheduleSlot" class="Fri-4"></td>
                <td id="scheduleSlot" class="Sat-4"></td>
                <td id="scheduleSlot" class="Sun-4"></td>
              </tr>
              <tr>
                <td id="scheduleTime">5pm</td>
                <td id="scheduleSlot" class="Mon-5"></td>
                <td id="scheduleSlot" class="Tue-5"></td>
                <td id="scheduleSlot" class="Wed-5"></td>
                <td id="scheduleSlot" class="Thu-5"></td>
                <td id="scheduleSlot" class="Fri-5"></td>
                <td id="scheduleSlot" class="Sat-5"></td>
                <td id="scheduleSlot" class="Sun-5"></td>
              </tr>
            </table>
            <br>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a  class="closebtn">&times;</a>
                <h1 id="innerModalTitle" style="color: white;">Edit</h1>

                <div class="bg">
  
                  <div class="cardPay">
                    
                    <span class="cardPay__success"><i class="ion-checkmark"></i></span>
                    
                    <h1 class="cardPay__msg">Confirm Payement</h1>
                    <h2 class="cardPay__submsg"></h2>
                    
                    <div class="cardPay__body">
                      
                      <div class="cardPay__recipient-info">
                        <p id="userInfo" class="cardPay__recipient">Fname Lname</p>
                        <p id="bookingInfo" class="cardPay__info">Session: </p>
                        <p id="trainerInfo" class="cardPay__info">Trainer: </p>
                        <p id="dateInfo" class="cardPay__info">Date: </p>
                      </div>
                      
                      <h1 class="cardPay__price"><span>$</span><span id="price">50</span><span>.00</span></h1>
                      
                      <p class="cardPay__method">Payment method</p>
                      <div class="cardPay__payment">
                        <img src="https://seeklogo.com/images/V/VISA-logo-F3440F512B-seeklogo.com.png" class="cardPay__credit-card">
                        <div class="cardPay__card-details">
                          <p class="cardPay__card-type">Credit / debit card</p>
                          <p class="cardPay__card-number">Visa ending in **89</p>          
                        </div>
                      </div>
                      
                    </div>
                    
                    <div class="cardPay__tags">
       
                    </div>
                    
                  </div>
                  
                </div>

                <br>
                <center><button type="submit" id="addBtn" class="addBtn">Book Personal Training </button></center>
                <center><button type="submit" id="addGroupBtn" class="addBtn">Book Group Fitness </button></center>
              </div>
            </div>
          </div>
        </div>
        
      </div>

    </div>


    <script type="text/javascript" src="js/member.js"></script>
</body>