<head>
    <title>Health & Fitness Club</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/member.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body onload="showSchedule()">

    <div id="navbar">
        <a id="profileNav">Profile</a>
        <a id="dashboardNav" >Dashboard</a>
        <a id="scheduleNav" style="color: orange;">Schedule</a>
    </div>

    <div class="mainContent" id="mainContent">
      <div class="scheduleContainer" id="scheduleContainer">

        <div id="left" style="width:50%; float:left;">
          <h1 id="title">What would you like to sign up for?</h1>
          <button id="personalTrainingButton">Personal Training Sessions</button>
          <button id="groupFitnessButton">Group Fitness Classes</button>
          <div id="trainersSelection" style="display: none;">
            <img id="batmanAvatar" class="trainerAvatar" src="https://images.nightcafe.studio/jobs/48Amke79nr6OktAdkLqp/48Amke79nr6OktAdkLqp--1--gvi7p_2x.jpg?tr=w-1600,c-at_max" alt="Avatar" style="width:200px;border-radius: 50%;">
            <img id="supermanAvatar" class="trainerAvatar" src="https://storage.prompt-hunt.workers.dev/clfw24af3001qjt08bv6b0knp_1" alt="Avatar" style="width:200px;border-radius: 50%;">
            <img id="wonderAvatar" class="trainerAvatar" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ddbdd022-5484-490d-8d18-f975ab5ac08f/dfxk3ad-a988b17d-1af0-4398-968f-7f3200c64805.png/v1/fill/w_894,h_894,q_70,strp/wonder_woman_ai_generated_art__by_makethemcomealiveai_dfxk3ad-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjA0OCIsInBhdGgiOiJcL2ZcL2RkYmRkMDIyLTU0ODQtNDkwZC04ZDE4LWY5NzVhYjVhYzA4ZlwvZGZ4azNhZC1hOTg4YjE3ZC0xYWYwLTQzOTgtOTY4Zi03ZjMyMDBjNjQ4MDUucG5nIiwid2lkdGgiOiI8PTIwNDgifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.l1nSGHYM2igEcazgZypM37huaEuDa-N2ZFXcRSs4oyk" alt="Avatar" style="width:200px;border-radius: 50%;">
            <img id="batgirlAvatar" class="trainerAvatar" src="https://images.squarespace-cdn.com/content/v1/63e0312e3c5a7e2053ea2a99/1682955644979-ZNKGLHGRECOG7J79AP8P/Matt_Shadbolt_Batgirl_very_close-up_cinematic_35mm_lens_f1.8_ac_37308870-2067-4287-9c53-4a53afdd3e73.png" alt="Avatar" style="width:200px;border-radius: 50%;">
            <img id="arrowAvatar" class="trainerAvatar" src="https://i.kym-cdn.com/entries/icons/original/000/016/265/grenarrow.png" alt="Avatar" style="width:200px;border-radius: 50%;">
          </div>
        </div>
        <div id="right" style="width:50%; float:right; display: none;" >
          <h1 id="title">Your Currently Scheduled Sessions:</h1>
          

        </div>

      </div>
    </div>


    <script type="text/javascript" src="js/member.js"></script>
</body>