<head>
    <title>Health & Fitness Club</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/member.css">
    <link type="text/css" rel="stylesheet" href="css/navbar.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body onload="showDashboard()">

    <div id="mySidenav" class="sidenav">
  <a  class="closebtn" onclick="closeNav()">&times;</a>
        <a id="profileNav" >Profile</a>
        <a id="dashboardNav" style="color: orange;">Dashboard</a>
        <a id="scheduleNav" >Schedule</a>
    </div>
    
    <div class="mainContent">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    
        <div class="Dash-row">
            <div class="leftcolumn">
                <div class="card">
                    <h1 id="sectionTitle">Dashboard</h1>
                    <h3>Exercise Routines</h3>
                    <p>
                        Welcome to your Exercise Routine section!</p> 
                        Whether you're hitting the gym or working out at home, our dashboard helps you stay organized and focused on your fitness goals. 
                        Let's get moving towards a healthier, stronger you!
                    </p>
                    <div class="fakeimg" style="height:200px;"></div>
                </div>
                <div class="card">
                    <h3>Fitness Achievements</h3>
                    <p>Welcome to Fitness Achievements! Here, we celebrate your milestones with rewards and trophies. 
                        Whether it's hitting a weight goal or smashing a personal best, your achievements are recognized and rewarded. 
                        Keep up the great work!
                    </p>
                    <table id="achievementsTable">
                        <tr>
                            <th>
                                <div class="tooltip">
                                    <span class="tooltiptext">Tooltip text</span>
                                    <Img class="fitnessAchievement" id="fitnessTrophy1" src="https://cdn-icons-png.flaticon.com/512/8145/8145752.png" width="30%">
                                  </div>    
                            </th>
                            <th>
                                <div class="tooltip">
                                    <span class="tooltiptext">Tooltip text</span>
                                    <Img class="fitnessAchievement" id="fitnessTrophy2" src="https://cdn-icons-png.flaticon.com/512/5182/5182243.png" width="30%">
                                </div>
                                
                            </th>
                            <th>
                                <div class="tooltip">
                                    <span class="tooltiptext">Tooltip text</span>
                                    <Img class="fitnessAchievement" id="fitnessTrophy3" src="https://cdn-icons-png.flaticon.com/512/5182/5182296.png" width="30%">
                                </div>
                                
                            </th>                        
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>
                                <div class="tooltip" >
                                    <span class="tooltiptext">Tooltip text</span>
                                    <Img class="fitnessAchievement" id="fitnessTrophy4" src="https://cdn-icons-png.flaticon.com/512/5182/5182322.png" width="30%">
                                </div>
                                
                            </th> 
                            <th>
                                <div class="tooltip">
                                    <span class="tooltiptext">Tooltip text</span>
                                    <Img class="fitnessAchievement" id="fitnessTrophy5" src="https://cdn-icons-png.flaticon.com/512/5182/5182205.png" width="30%">
                                </div>
                                
                            </th>
                            <th>
                                <div class="tooltip">
                                    <span class="tooltiptext">Tooltip text</span>
                                    <Img class="fitnessAchievement" id="fitnessTrophy6" src="https://cdn-icons-png.flaticon.com/512/5182/5182254.png" width="30%">
                                </div>
                                
                            </th>                        
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="rightcolumn">
                <div class="card">
                    <h3>Health Statistics</h3>
                    <p>
                        Explore your Health Statistics on your Dashboard, where you'll find a detailed overview of your vital metrics. 
                        Stay informed, stay motivated.
                    </p>
                    <table id="statsTable" style="height: 100%; border-radius: 12px;">
                        <tr>
                            <td>Peter</td>
                            <td>Griffin</td>
                        </tr>
                        <tr>
                            <td>Peter</td>
                            <td>Griffin</td>
                        </tr>
                        <tr>
                            <td>Lois</td>
                            <td>Griffin</td>
                        </tr>
                        <tr>
                            <td>Joe</td>
                            <td>Swanson</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="js/member.js"></script>
</body>