<head>
    <title>Health & Fitness Club</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/member.css">
    <link type="text/css" rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Black+Ops+One" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

</head>

<body onload="showDashboard()">

    <div id="mySidenav" class="sidenav">
        <a  class="closebtn" onclick="closeNav()">&times;</a>
        <a id="profileNav" >Profile</a>
        <a id="dashboardNav" style="color: orange;">Dashboard</a>
        <a id="scheduleNav" >Schedule</a>
        <a id="logOut">Log Out</a>
        <p id="signature">The Health & Fitness Club</p>
    </div>
    
    <div id="mainContent" class="mainContent" >
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    
        <div class="Dash-row">
            <div class="leftcolumn">
                <div class="card">
                    <h1 id="sectionTitle">Dashboard</h1>
                    <h3>Exercise Routines</h3>
                    <p>
                        Welcome to your Exercise Routine section! <br>
                        Whether you're hitting the gym or working out at home, our dashboard helps you stay organized and focused on your fitness goals. 
                        Let's get moving towards a healthier, stronger you! 
                    </p>
                    <div class="rowStats" style="overflow-y: scroll;">
                        <div class="columnStats" id="pushupsBox" style="width: 24%;">
                          <div class="cardStats">
                            <img id="pushups" src="">
                            <h3 id="pushupsText"></h3>
                          </div>
                        </div>
                      
                        <div class="columnStats" id="pullupsBox" style="width: 24%;">
                          <div class="cardStats">
                            <img id="pullups" src="">
                            <h3 id="pullupsText"></h3>
                          </div>
                        </div>
                        
                        <div class="columnStats" id="situpsBox" style="width: 24%;">
                          <div class="cardStats">
                            <img id="situps" src="">
                            <h3 id="situpsText"></h3>
                          </div>
                        </div>
                        
                        <div class="columnStats" id="deadliftBox" style="width: 24%;">
                          <div class="cardStats">
                            <img id="deadlift" src="" >
                            <h3 id="deadliftText"></h3>
                          </div>
                        </div>

                        <div class="columnStats" id="squatsBox" style="width: 24%;">
                          <div class="cardStats">
                            <img id="squats" src="">
                            <h3 id="squatsText"></h3>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h3>Fitness Achievements</h3>
                    <p>Welcome to Fitness Achievements! Here, we celebrate your milestones with rewards and trophies. 
                        Whether it's hitting a weight goal or smashing a personal best, your achievements are recognized and rewarded. 
                        Keep up the great work!
                    </p>
                    <table id="achievementsTable">
                        <tr>
                            <th>
                                <div class="tooltip">
                                    <span class="tooltiptext" id="enduranceachievementText">?</span>
                                    <Img class="fitnessAchievement" id="enduranceachievement" src="https://png.pngtree.com/png-vector/20240104/ourmid/pngtree-white-question-mark-3d-sign-png-image_11107286.png" width="30%">
                                  </div>    
                            </th>
                            <th>
                                <div class="tooltip">
                                    <span class="tooltiptext" id="basketballachievementText">?</span>
                                    <Img class="fitnessAchievement" id="basketballachievement" src="https://png.pngtree.com/png-vector/20240104/ourmid/pngtree-white-question-mark-3d-sign-png-image_11107286.png" width="30%">
                                </div>
                                
                            </th>
                            <th>
                                <div class="tooltip">
                                    <span class="tooltiptext" id="memberachievementText">?</span>
                                    <Img class="fitnessAchievement" id="memberachievement" src="https://png.pngtree.com/png-vector/20240104/ourmid/pngtree-white-question-mark-3d-sign-png-image_11107286.png" width="30%">
                                </div>
                                
                            </th>                        
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>
                                <div class="tooltip" >
                                    <span class="tooltiptext" id="weightachievementText">?</span>
                                    <Img class="fitnessAchievement" id="weightachievement" src="https://png.pngtree.com/png-vector/20240104/ourmid/pngtree-white-question-mark-3d-sign-png-image_11107286.png" width="30%">
                                </div>
                                
                            </th> 
                            <th>
                                <div class="tooltip">
                                    <span class="tooltiptext" id="cyclingachievementText">?</span>
                                    <Img class="fitnessAchievement" id="cyclingachievement" src="https://png.pngtree.com/png-vector/20240104/ourmid/pngtree-white-question-mark-3d-sign-png-image_11107286.png" width="30%">
                                </div>
                                
                            </th>
                            <th>
                                <div class="tooltip">
                                    <span class="tooltiptext" id="footballachievementText">?</span>
                                    <Img class="fitnessAchievement" id="footballachievement" src="https://png.pngtree.com/png-vector/20240104/ourmid/pngtree-white-question-mark-3d-sign-png-image_11107286.png" width="30%">
                                </div>
                                
                            </th>                        
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="rightcolumn">
                <div class="card">
                    <h3>Health Statistics</h3>

                    <div class="rowStats">
                        <div class="columnStats">
                          <div class="cardStats">
                            <p><i class="fa fa-street-view"></i></p>
                            <h3 id="avgWeightValue"></h3>
                            <p>Average Weight</p>
                          </div>
                        </div>
                      
                        <div class="columnStats">
                          <div class="cardStats">
                            <i class="fa fa-child"></i>
                            <h3 id="avgHeightValue"></h3>
                            <p>Average Height</p>
                          </div>
                        </div>
                        
                        <div class="columnStats" style="width: 47%; float: left; padding-right: 0;">
                          <div class="cardStats">
                            <i class="fa fa-trophy"></i>
                            <h3 id="avgWeightGoal"></h3>
                            <p>Average Weight Goal</p>
                          </div>
                        </div>
                        
                        <div class="columnStats" style="width: 47%; float: right; padding-left: 0; padding-right: 0%;">
                          <div class="cardStats">
                            <i class="fa fa-trophy"></i>
                            <h3 id="avgMuscleGoal"></h3>
                            <p>Average Muscle Goal</p>
                          </div>
                        </div>

                        <div class="columnStats">
                            <div class="cardStats">
                                <i class="fa fa-trophy"></i>
                              <h3 id="avgEnduranceGoal"></h3>
                              <p>Average Endurance Goal</p>
                            </div>
                          </div>
                          
                          <br>
                        <!-- <h3 style="padding-top: 90%;">Extra Statistics</h3>
                        <div class="columnStats">
                            <div class="cardStats">
                                <p><i class="fa fa-user"></i></p>
                              <h3 id="numberOfMembers"></h3>
                              <p>Enrolled Members</p>
                            </div>
                          </div>

                          <div class="columnStats">
                            <div class="cardStats">
                                <i class="fa fa-group"></i>
                              <h3>5+</h3>
                              <p>Group Fitness Classes</p>
                            </div>
                          </div> -->
                      </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="js/member.js"></script>
</body>