<!DOCTYPE html>
<html lang="en">

<head>
    <title>Health & Fitness Club</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/registration.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div class="logInSignUp" id="logInSignUp">
        <div id="welcomeMsg" class="welcomeMsg">Log In</div>
        <br>
        <div class="userImg" id="userImg">
            <button id="adminButton" class="emoji">&#127947;</button>
            <div id="warnings"></div>
        </div>
        <div id="modForSign">
            <input class="" type="text" placeholder="First Name" id="fname" required style="display: none;">
            <input class="" type="text" placeholder="Last Name" id="lname" required style="display: none;">
            <br>
            <input class="" type="text" placeholder="Username" id="usrn" required>
            <input class="" type="password" placeholder="Password" id="pswd" required>
            <br>
            <br>
            <button class="logButton" type="submit" id="loginButton">Login</button>
            <p><button class="switch" type="submit" id="switchToRegister">Register</button></p>
            <button class="sigButton" type="submit" id="registerButton" style="display: none;">Register</button>
            <p><button class="switch" type="submit" id="switchToLogin" style="display: none;">Login</button></p>
        </div>
    </div>
    <script type="text/javascript" src="js/registration.js"></script>
</body>

</html>