<head>
    <title>Health & Fitness Club</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/trainer.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>

    <div id="navbar">
        <a href="#profile">Profile</a>
        <a href="#dashboard">Schedule Management</a>
        <a href="#schedule">Member Search</a>
    </div>

    <div class="mainContent">
        

    </div>


    <script type="text/javascript" src="js/trainer.js"></script>
</body>