<head>
    <title>Health & Fitness Club</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/trainer.css">
    <link type="text/css" rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Black+Ops+One" />
</head>

<body onload="showProfileViewer()">

    <div id="mySidenav" class="sidenav">
  <a  class="closebtn" onclick="closeNav()">&times;</a>
        <a id="memberProfileViewerNav" style="color: orange;">Member Profile Viewer</a>
        <a id="trainerScheduleNav">Schedule Management</a>
        <a id="logOut">Log Out</a>
        <p id="signature">The Health & Fitness Club</p>
    </div>
    

    <div class="mainContent" id="mainContent">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <h1 style="margin-top: 5%;">Member Profile Viewer</h1>

        <input type="text" id="searchBar" placeholder="Search..">
        <h3 id="resultsFor"></h3>


    </div>


    <script type="text/javascript" src="js/trainer.js"></script>
</body>