<head>
    <title>Health & Fitness Club</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/trainer.css">
    <link type="text/css" rel="stylesheet" href="css/navbar.css">
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Black+Ops+One" />
</head>

<body onload="showSchedule()">

    <div id="mySidenav" class="sidenav">
        <a  class="closebtn" onclick="closeNav()">&times;</a>
        <a id="memberProfileViewerNav">Member Profile Viewer</a>
        <a id="trainerScheduleNav" style="color: orange;">Schedule Management</a>
        <a id="logOut">Log Out</a>
        <p id="signature">The Health & Fitness Club</p>
    </div>
    

    <div class="mainContent" id="mainContent">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <h1 style="margin-top: 5%;">Schedule Management</h1>

            <table id="schedule">
              <tr>
                <th id="scheduleDay"></th>
                <th id="scheduleDay">Monday</th>
                <th id="scheduleDay">Tuesday</th>
                <th id="scheduleDay">Wednesday</th>
                <th id="scheduleDay">Thursday</th>
                <th id="scheduleDay">Friday</th>
                <th id="scheduleDay">Saturday</th>
                <th id="scheduleDay">Sunday</th>
              </tr>
              <tr>
                <td id="scheduleTime">9am</td>
                <td id="scheduleSlot" class="Mon-9"></td>
                <td id="scheduleSlot" class="Tue-9"></td>
                <td id="scheduleSlot" class="Wed-9"></td>
                <td id="scheduleSlot" class="Thu-9"></td>
                <td id="scheduleSlot" class="Fri-9"></td>
                <td id="scheduleSlot" class="Sat-9"></td>
                <td id="scheduleSlot" class="Sun-9"></td>
              </tr>
              <tr>
                <td id="scheduleTime">10am</td>
                <td id="scheduleSlot" class="Mon-10"></td>
                <td id="scheduleSlot" class="Tue-10"></td>
                <td id="scheduleSlot" class="Wed-10"></td>
                <td id="scheduleSlot" class="Thu-10"></td>
                <td id="scheduleSlot" class="Fri-10"></td>
                <td id="scheduleSlot" class="Sat-10"></td>
                <td id="scheduleSlot" class="Sun-10"></td>
              </tr>
              <tr>
                <td id="scheduleTime">11am</td>
                <td id="scheduleSlot" class="Mon-11"></td>
                <td id="scheduleSlot" class="Tue-11"></td>
                <td id="scheduleSlot" class="Wed-11"></td>
                <td id="scheduleSlot" class="Thu-11"></td>
                <td id="scheduleSlot" class="Fri-11"></td>
                <td id="scheduleSlot" class="Sat-11"></td>
                <td id="scheduleSlot" class="Sun-11"></td>
              </tr>
              <tr>
                <td id="scheduleTime">12pm</td>
                <td id="scheduleSlot" class="Mon-12"></td>
                <td id="scheduleSlot" class="Tue-12"></td>
                <td id="scheduleSlot" class="Wed-12"></td>
                <td id="scheduleSlot" class="Thu-12"></td>
                <td id="scheduleSlot" class="Fri-12"></td>
                <td id="scheduleSlot" class="Sat-12"></td>
                <td id="scheduleSlot" class="Sun-12"></td>
              </tr>
              <tr>
                <td id="scheduleTime">1pm</td>
                <td id="scheduleSlot" class="Mon-1"></td>
                <td id="scheduleSlot" class="Tue-1"></td>
                <td id="scheduleSlot" class="Wed-1"></td>
                <td id="scheduleSlot" class="Thu-1"></td>
                <td id="scheduleSlot" class="Fri-1"></td>
                <td id="scheduleSlot" class="Sat-1"></td>
                <td id="scheduleSlot" class="Sun-1"></td>
              </tr>
              <tr>
                <td id="scheduleTime">2pm</td>
                <td id="scheduleSlot" class="Mon-2"></td>
                <td id="scheduleSlot" class="Tue-2"></td>
                <td id="scheduleSlot" class="Wed-2"></td>
                <td id="scheduleSlot" class="Thu-2"></td>
                <td id="scheduleSlot" class="Fri-2"></td>
                <td id="scheduleSlot" class="Sat-2"></td>
                <td id="scheduleSlot" class="Sun-2"></td>
              </tr>
              <tr>
                <td id="scheduleTime">3pm</td>
                <td id="scheduleSlot" class="Mon-3"></td>
                <td id="scheduleSlot" class="Tue-3"></td>
                <td id="scheduleSlot" class="Wed-3"></td>
                <td id="scheduleSlot" class="Thu-3"></td>
                <td id="scheduleSlot" class="Fri-3"></td>
                <td id="scheduleSlot" class="Sat-3"></td>
                <td id="scheduleSlot" class="Sun-3"></td>
              </tr>
              <tr>
                <td id="scheduleTime">4pm</td>
                <td id="scheduleSlot" class="Mon-4"></td>
                <td id="scheduleSlot" class="Tue-4"></td>
                <td id="scheduleSlot" class="Wed-4"></td>
                <td id="scheduleSlot" class="Thu-4"></td>
                <td id="scheduleSlot" class="Fri-4"></td>
                <td id="scheduleSlot" class="Sat-4"></td>
                <td id="scheduleSlot" class="Sun-4"></td>
              </tr>
              <tr>
                <td id="scheduleTime">5pm</td>
                <td id="scheduleSlot" class="Mon-5"></td>
                <td id="scheduleSlot" class="Tue-5"></td>
                <td id="scheduleSlot" class="Wed-5"></td>
                <td id="scheduleSlot" class="Thu-5"></td>
                <td id="scheduleSlot" class="Fri-5"></td>
                <td id="scheduleSlot" class="Sat-5"></td>
                <td id="scheduleSlot" class="Sun-5"></td>
              </tr>
            </table>
            <br>
        </div>


        <div id="myNav" class="overlay">
          <a  class="closebtn">&times;</a>
          <div class="overlay-content">
            
            <h1 id="formTitle" style="color: white; margin-bottom: 3%;">Edit</h1>
            <div id="left" style="width:50%; float:left;">
              <h2 style="color: white;">Add a Group Class</h2>
              <img src="https://cdn-icons-png.flaticon.com/512/5022/5022167.png" id='boxing' class="groupFit">
              <img src="https://cdn-icons-png.flaticon.com/512/8145/8145683.png" id='football' class="groupFit">
              <img src="https://cdn-icons-png.flaticon.com/512/2264/2264829.png" id='swimming' class="groupFit">
              <br>
              <img src="https://cdn-icons-png.flaticon.com/512/9571/9571346.png" id='strength' class="groupFit">
              <img src="https://cdn-icons-png.flaticon.com/512/983/983534.png" id='cycling' class="groupFit">
              <img src="https://cdn-icons-png.flaticon.com/512/3476/3476091.png" id='crossfit' class="groupFit">
              <br>
              <img src="https://cdn-icons-png.flaticon.com/512/3867/3867817.png" id='running' class="groupFit">
              <img src="https://cdn-icons-png.flaticon.com/512/10823/10823177.png" id='basketball' class="groupFit">
              <img src="https://cdn-icons-png.flaticon.com/512/2906/2906496.png" id='yoga' class="groupFit">
            </div>
            <div id="right" style="width:50%; float:right; display: block;" >
              <button type="button" id="clearbtn" class="addBtn" style="margin: 2%;">Clear</button>
              <br>
              <button type="button" id="notAvailable" class="notAvailable" style="margin: 2%;">Not Available</button>
            </div>

          </div>
        </div>


    <script type="text/javascript" src="js/trainer.js"></script>
</body>