<head>
    <title>Health & Fitness Club</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/trainer.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body onload="showSchedule()">

    <div id="navbar">
        <a id="memberProfileViewerNav">Member Profile Viewer</a>
        <a id="trainerScheduleNav" style="color: orange;">Schedule Management</a>
    </div>

    <div class="mainContent" id="mainContent">
        <h1>Schedule Management</h1>


    </div>


    <script type="text/javascript" src="js/trainer.js"></script>
</body>